.header {
    display: flex;
    height: 150px;
    background-image: url(../images/fondo22.jpg);
    justify-content: center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}